#numpy=1.18.1
Flask=>2.0.1
graphviz=>0.17
discord=>1.7.3
imageio=2.9.0
ffmpeg_python=>0.1
imagesoup=>0.1
tweepy=>3.10.0
pixivpy=>3.3.0
future=>0.18.2
googlesearch-python=>1.2
requests=>2.31.0
mlc-tools=>0.4.1125
Pillow=9.4.0
